*{
    margin: 0px;
    padding: 0px;
    font-style: italic;
    
}
.navbar{
    
    position:fixed;
    top: 0;
    margin: 0px;
    width: 100vw;
    height: 10vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul{
    list-style: none;
        
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 35px;
   
}
.navbar ul li a:hover{
    color: black;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}

.banner{
    background-image: url(../images/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    background-size:auto;
    
    height: 100vh;
    width: 100%;
    margin-top: 10vh;
    color: white;
    font-size: 35px;
}
.team{
    color: brown;
    text-align: center;

} 
.circle-box{
    height: 350px;
}
.team{
    background-color: lightblue;
}
.about:after {
content: '';
display: block;
clear: both;
}
.team:after {
content: '';
display: block;
clear: both;
}
.container:after {
content: '';
display: block;
clear: both;
}
.circle{
    margin-top: 60px;
    margin-left: 8%;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 3px black;
    width:230px;
    float: left;
    height: 230px;
}
#c1{

    background-image: url(../images/1.png);
    background-size: cover;
}
#c2{
    background-image: url(../images/3.png);
    background-size: cover;
}
#c3{
    background-image: url(../images/2.png);
    background-size: cover;
}
#c4{
    background-image: url(../images/9.png);
    background-size: cover;
}


h2{
    font-size: 35px;
    
    color: brown;
    text-align: center;
}
/* following is copied from practical-6 and is for technologies */

.box:hover{
    background-color:wheat;
    transition: 2s;
}
.container{
    
     margin-top: 60px;
     margin-right:auto;
     background-color: lavender;
    margin-left:auto;
    
}
#head1{
    color: white;
    text-align: center;
}
.box{
    margin-left: 6%;
    margin-bottom: 40px;
    
    background-color:pink;
    border:solid pink;
    border-radius: 8px;
    
box-shadow: 3px 3px 3px 3px black;
    width:250px;
    float: left;
    height: 350px;
    
}
.box h3{
    text-align: center;
    margin: 10px 0px;
}
.box p{
    margin: 10px 0px;
    text-align: justify;
}
.box a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    background-color: red;
    padding: 10px;
    
}
.box a:hover{
    background-color: blue;
    box-shadow: 3px 3px 3px black;
    transition: transform 2s;
    transform: scale(1.05);
}
.box img{
    border-radius: 8px;
    height: 150px;

}
.about{
    background-color:lightcyan;
}
h3{
    text-align: center;
    color:black;
}

.innerleft{
   width:47%;
   height: 100%;
   padding-right:.5% ;
   padding-left:.5%;
   margin:10px;
   font-size: 20px;
   text-align: justify;
   background-color:green;
   float: left;
}
.innerright{
   width: 48%;
   height: 100%;
   margin: 10px;
   float: left;
}
.outerbox{
   height: 45vh;
}
.right{
   height: 32%;
   border: solid black;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.outerbox a:hover{
  color:black;

}
.outerbox a{
  text-decoration: none;

}

#r1{
   background-image: url(../images/p1.jpg);
background-size: cover;
}
#r2{
   background-image: url(../images/p2.jpeg);

    display: flex;
}
#r3{
   background-image: url(../images/p3.jpg);
background-size: auto;
}

a{
   text-decoration: none;
}