*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
}
.main-container{
    margin-top: 60px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

header h1{
    text-align: center;
    font-size: 50px;
    color:rgb(160, 9, 9);
}


.tem1{
    width: 250px;
    height: 300px;
    background-color: white;
    margin: 10px 20px 20px 20px;
}.tem2{
    width: 250px;
    height: 300px;
    background-color: white;    
    margin: 10px 20px 20px 20px;
}.tem3{
    width: 250px;
    height: 300px;
    background-color: white;
    margin: 10px 20px 20px 20px;
}

input[type=email]{
    outline: none;
    border: none;
    width: 100%;
    padding:5px 0px;
    border-bottom: solid lightslategray;
}
input[type=password]{
    outline: none;
    border: none;
    width: 100%;
    padding:5px 0px;
    border-bottom: solid lightslategray;
}

.header-t1{
    height: 80px;
    background: linear-gradient(to right,orange,red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-t1 .social i{
    color: white;
    padding: 10px 10px;
    margin-right: 10px;
}
.form-t1{
    padding: 30px;
}
 .form-t1 p{
     font-size: 12px;
     padding: 20px 0px 15px 0px;
     text-align: right;
 }
.footer-t1{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .footer-t1 p{
    display: inline-block;
    font-size: 12px;
    padding-left: 5px;
    }
 .footer-t1 input[type=submit]{
    outline: none;
   padding: 5px 15px;
   background-color:gray;
   color: white;
   border-radius: 15px;
 }

 /* 2nd template */
 
.header-t2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.footer-t2 .social i{
    color: white;
    padding: 10px 10px;
    margin-right: 10px;
}
.form-t2{
    padding: 30px;
}
 .form-t2 p{
     font-size: 12px;
     text-align: right;
     display: inline-block;
 }
.footer-t2 .social{
    margin-top: 20px;
    height: 50px;
    background-color: turquoise;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.footer-t2 .other{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .footer-t2 p{
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    }
 .footer-t2 input[type=submit]{
    outline: none;
   padding: 5px 15px;
   background-color:palevioletred;
   color: white;
   border-radius: 15px;
 }
/* template 3 */
.header-t3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.footer-t3 .social i{
    color: white;
    padding: 10px 10px;
    margin-right: 10px;
}
.form-t3{
    padding: 30px;
}
 .form-t3 p{
     font-size: 12px;
     text-align: right;
     display: inline-block;
 }
 .footer-t3 .social{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top:10px ;
 }

.footer-t3 .social i{
    color:blue;
    
    border:solid whitesmoke;    
    border-radius: 15px;
    padding: 3px 15px;
    box-shadow: whitesmoke 5px 5px 8px;
}
 
 .footer-t3 p{
     display: block;
     text-align:center ;
    }
    .footer-t3 .sign{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 .footer-t3 input[type=submit]{
    width: 90%;
    outline: none;
   padding: 5px 0px;
   background:linear-gradient(to right,skyblue,blue);
   color: white;
   border-radius: 15px;
 }